<div class="center-align black">
  <div class="row">
    <div class="col s12 l4 offset-l4 black">
      <img
        class="responsive-img"
        style="width: 250px"
        src="https://i.imgur.com/osPE7V5.gif" />
      <div class="card grey darken-4 lighten-3">
        <div class="card-content">
          <h5 class="card-title center-align indigo-text"><strong>Identificación de Usuarios</strong></h5>
          <!-- <form> -->
          <form [formGroup]="fgValidacion" (ngSubmit)="identificarUsuario()">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input
                  formControlName="correo"
                  type="email"
                  id="email"
                  class="validate" />
                <label for="email">Correo Electrónico</label>
                <div class="mensajeValidacion indigo-text">
                  <strong>Este campo es requerido.</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input
                  formControlName="clave"
                  type="password"
                  id="password"
                  class="validate" />
                <label for="email">Contraseña</label>
                <div class="mensajeValidacion indigo-text">
                  <strong>Este campo es requerido.</strong>
                </div>
              </div>
            </div>
            <div class="row center-align">
              <button
                [disabled]="!fgValidacion.valid"
                class="btn waves-effect waves-light"
                type="submit"
                name="action" >
                Login
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
